services:
  nfc_values:
    build: .
    stop_signal: SIGINT
    volumes:
      - ./raw_json:/app/raw_json
      - ./output:/app/output
    entrypoint: /bin/sh
    command: ["-c", "rm -rf /app/output/* && uv run grab_rounds.py && uv run preprocessing.py && uv run final.py"]
